<?xml version="1.0"?>
<model>
  <name>curved_road</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Your Name</name>
    <email>your.email@example.com</email>
  </author>
  <description>
    A model representing a curved road.
  </description>
  <license>TODO: Add your license information here</license>
</model>

