<launch>
    <arg name = "paused" default = "false" />
    <arg name = "gui" default = "true"/>
    <arg name = "use_sim_time" default = "true"/>
    <param name="robot_description" command="$(find xacro)/xacro $(find line_follower_omnidrive)/urdf/mr_robot.xacro"/>
    <arg name="x_pos" default="0.082433"/> <arg name="y_pos" default="-2.485892"/> <arg name="z_pos" default="0.102260"/> <arg name="Y_pos" default="3.127884"/>
    <include file = "$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" default="$(find line_follower_omnidrive)/worlds/square_path.world"/>
    </include>
    <include file="$(find line_follower_omnidrive)/launch/display.launch"/> 
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output="screen"
    args="-urdf -model mr_robot -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -Y $(arg Y_pos) -param robot_description" />
</launch>

















